<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>当当网会员注册页面</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
</style>
</head>
<body>
		<div id="header">
				<img class="logo_img" alt="" src="/static/img/logo.gif" >
				<span class="wel_word"></span>
		</div>
		
		<div id="main">
		
			<h1>注册成功! <a href="/pages/user/login.html">去登陆</a></h1>
	
		</div>
		
		<div id="bottom">
			<span>
				当当网.Copyright &copy;2021
			</span>
		</div>
</body>
</html>